$grey:#909090;
$blue:#409EFF;
.index{
  
   width:100%;
   max-width: 960px;
   min-width:200px;
   
   margin:2rem auto;
   display: flex;
   justify-content: space-between;
   .sider{
       width:300px;
       margin-left:30px;
   }
   .content-box{
       flex:1;
    //    display: flex;
    //    flex-direction: column;
    //    align-items: center;
      
   }
   .ant-pagination{
       margin-top:20px;
       display: flex;
       justify-content: center;
   }
   .content-header{
       display: flex;
       padding :0 10px 20px;
       border-bottom: 1px solid #f1f1f1;
       align-items: center;
   }
   .content-user{
       cursor: pointer;
   }
   .content-user:hover{
       color:$blue
   }
   .content-tags{
       float: right;
   }
   .nav-item{
       cursor: pointer;
       padding:0 10px;
       font-size: 15px;
       color:$grey;
       border-right:1px solid hsla(0,0%,59.2%,.2)
   }
   .nav-item:last-of-type{
    border-right:0px;
   }
   .active-nav{
       color:$blue
   }
   .content-item{
    display: grid;
    grid-row-gap:10px;
    border-bottom: 1px solid #f1f1f1;
    padding:10px 20px;
   }
   .messages{
    color:$grey;
    font-size:13px;
    span::after{
        content:'・'
    }
    span:last-of-type::after{
           content: '';
    }
   }
   .title{
    font-size:18px;
    font-weight: 600;
    line-height: 1.2;
    cursor: pointer;
   }
//    .title:hover{
//        color:$blue
//    }
   .icons{
       display: flex;
   }
   .icons img{
       height:21px;
       margin-right:3px;
   }
   .icons-item{
       padding:2px 5px;
       height:21px;
       border:1px solid  #f1f1f1;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
      color:$grey;
      cursor: pointer;
   }
   .icons-item:hover{
       background:#F7F8FA
   }
   .sider{
       .basic-box{
           margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
       }
      
   }
   .avator{
       height:100px;
       width:100px;
       background: #409EFF;
       border-radius: 50%;
   }
   .preview{
       
       width:200px;
       display: flex;
       padding:20px;
       align-items: center;
       justify-content: space-around;
      

   }
   .preview-item{
       display: flex;
       flex-direction: column;
       align-items: center;
       font-weight: 600;
       
       p{
        color:#9E9E9E;
        cursor: pointer;
       }
       p:hover{
           color: $blue;
       }
       
   }
}
.basic-box{
    padding: 20px 0;
   background: #fff;
   box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}