.pictures-basic{
   width:100%;
   display: flex;
   align-items: flex-start;
   justify-content: center;
  .empty-box{
     width:30px;
     height:30px;
  }
  .introduce{
   width:30px;
   height:30px;
  }
}